name: Hmly Common Pkg 

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Protoc
        uses: arduino/setup-protoc@v3
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
              
      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.24.4'
          cache: true

      - name: Install protoc plugins
        run: |
          go install google.golang.org/protobuf/cmd/protoc-gen-go@latest
          go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@latest
          go install github.com/grpc-ecosystem/grpc-gateway/v2/protoc-gen-grpc-gateway@latest

      - name: Generate Proto Files
        run: make proto

      - name: Verify Proto Files
        run: |
          if [ ! -f "proto/hmly.pb.go" ] || [ ! -f "proto/hmly_grpc.pb.go" ] || [ ! -f "proto/hmly.pb.gw.go" ]; then
            echo "Error: Proto files were not generated correctly"
            exit 1
          fi
          echo "Proto files generated successfully"

      - name: Build
        run: go build -v ./...

      - name: Run Tests
        run: go test -v ./...

      - name: Generate Changelog
        run: |
          git fetch --prune --unshallow
          git log origin/main..HEAD --pretty=format:"%h %s" > CHANGELOG.md
          echo "Changelog generated successfully."

      - name: Commit and Push Changelog
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"